@import "../../App.module.scss";


.projectContainer {

    display: flex;
    justify-content: center;

    .project {
        width: 40vw;
        height: 40vw;
        //background-color: #ccc;
    }
}

.description {
    padding-top: 8vw;
}